<div class="navegador">
    <ul class="nav">
        <div class="barra">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/']" routerLinkActive="router-link-active">Inicio</a>
            </li>
        </div>
        <div class="barra">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Servicio Al Cliente</a>
            </li>
        </div>
        
      </ul>
</div>

<div class="fondo">

</div>