

.news{
    // display: inline;
    align-content: center;
    text-align: center;
    border-bottom: solid 1px rgb(68, 62, 62);
}

h1{
    margin: 100px;
    font-family: 'Times New Roman', Times, serif;
}


.footer{
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
}

p{
    margin-top: 30px;
    margin-bottom: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}