

.fondo{
    height: 500px;
    width: 100%;
}

.contenedor{
    display: flex;
    width: 1000px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 200px;
}


h2{
    color: #fdfdfd;
}

p{
    font-size: 20px;
    font-weight: 400;
}



.azul{
    color: blue;
}

.naranjo{
    color: rgb(255, 155, 23);
}

.rojo{
    color: red;
}

.green{
    color: green;
}

.yellow{
    color: yellow;
}

.black{
    color: black;
}