
<div class="card bg-dark text-white contenedor">
    <img src="../../assets/{{noticias.imagen}}.jpg" class="card-img" class="fondo">
    <div class="card-img-overlay">
      <h2 class="card-title"> {{noticias.titulo}} </h2>
      <p class="card-text">{{noticias.texto}}</p>
      <p class="card-text">Autor: {{noticias.autor}}</p>
      <p class="card-text">Fecha: {{noticias.fecha}}</p>
      <p class="card-text">Tipo de Categoria: {{categorias.titulo}}</p>
      <button type="button" class="btn btn-sm btn btn-primary" routerLink="">Volver</button>
    </div>
  </div>
