.card.shadow-sm{
    width: 250px;
}

.medio{
    height: 380px;
}


.btn-group{
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
}


.container1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.container2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedor{
    display:grid;
    justify-content: center;
}

.informacion{
    margin-left: 30px;
    padding: 0%;
    transition: transform .5s;
}

.informacion:hover{
    transform: scale(1.1);
}


.azul{
    background-color: blue;
    color: white;
}

.naranjo{
    background-color: rgb(255, 155, 23);
    color: white;
}

.rojo{
    background-color: red;
    color: white;
}

.green{
    background-color: green;
    color: white;
}

.yellow{
    background-color: yellow;
    color: white;
}

.black{
    background-color: black;
    color: white;
}