


<div class="contenedor">
    <div class="container1"> 
        <div *ngFor="let noticia of listaNoticias;">
            <div *ngIf= noticia.recomendada>
                <div class="card shadow-sm  informacion ">
                    <div> <img src="../../assets/{{noticia.imagen}}.jpg" width="100%" height="200" > </div>
                    <div class="card-body"> 
                        <h6 class="noticia1">{{noticia.titulo}} </h6>
                        <p class="card-text"> {{noticia.texto}} </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn" routerLink="detalleNoticia/{{noticia.id}}" [ngClass]="{azul:noticia.idCategoria ==1,rojo:noticia.idCategoria ==2,naranjo: noticia.idCategoria ==3,black: noticia.idCategoria ==4,yellow: noticia.idCategoria ==5,green: noticia.idCategoria ==6}"  >Leer Mas</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>


    <div class="container2">
        <div *ngFor="let noticia of listaNoticias;">
            <div *ngIf="noticia.recomendada == false" >
                <div class="card shadow-sm  informacion ">
                    <div> <img src="../../assets/{{noticia.imagen}}.jpg" width="100%" height="200" > </div>
                    <div class="card-body"> 
                        <h6 class="noticia1">{{noticia.titulo}} </h6>
                        <p class="card-text"> {{noticia.texto}} </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn btn-success" routerLink="detalleNoticia/{{noticia.id}}">Leer Mas</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>

